<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>aulas1_2</title>
</head>

<body>
	<!-- Header -->
	<header>
		<h1>
			Questoes da aula 1 e 2 
		</h1>
	</header>

	<!--main-->
	<main>

		<ul>
			<li>
				<p>
					1.	Neste primeiro momento, gostaria de levá-lo a refletir: Quando e como ocorreu 
					seu primeiro contato com a internet? Quais os recursos e utilidades eram disponíveis
					na época? Qual era o navegador utilizado? Quais eram as características do layout e
					do conteúdo? De lá pra cá, muita coisa mudou? Descreva sua experiência.
				</p>
			</li>
			

			</p>
				<h4>RESPOSTA:</h4>
				O meu primeiro contato com a internet foi quando não tinha nem 10 ano no Japão, não
				consigo me lembro os recurso e utilidades pois era muito nova, mas depois que vim 
				para o Brasil lembro de usar o Orkut, msn, youtube e o google que era usado para 
				pesquisas de escola, de la pra ca muita coisa mudou isso como a estética dos gráficos,
				surgiram mais redes sociais, mais tipos de navegadores, e agora tem mais acesso para 
				compras online. O layout era simples.   
			</p>

			<hr>

			<li>
				<p>
					2.	Descreva com suas palavras e entendimento o que é URL. Diferencie e exemplifique URL
					absoluta e URL relativa. Quando se faz uso de uma ou de outra?
				</p>
			</li>	

			<p>
				<h4>RESPOSTA:</h4>
				A URL, é um endereço único de identificação de um documento dentro da rede,
				especifica onde um documento esta localizado dentro da rede como um exemplo,
				<http://www.unigran.br/ead/index.html>.,
				A URL absoluta, contem toda  as partes da sintaxe do URL, com um exemplo,
				http://www.unigran.br.
				A URL relativa, são mais curtas vistos que não contem todas as partes da sintaxe, 
				como exemplo, index.html.
			</p>

			<hr>
			
			<li>
				<p>
					3.	Antes da leitura da Aula 01, você sabia diferenciar os termos: home-page, 
					página web e web site? Justifique sua resposta e ainda comente sobre cada um deles
					de forma a diferenciá-los.
				</p>

			</li>

			<p>
				<h4>RESPOSTA:</h4>
				Não sabia diferenciar os três termos, mas já tinha escutado falar nos termos.
				Home page: é a pagina principa a pagina de entrada.
				Pagina web: são documentos de hipertexto criados através do código HTML, que podem ser
				visualizados na rede mundial de computadores.
			</p>

			<hr>

			<li>
				<p>
					4.	Dentro do contexto web, pesquise, defina e descreva com suas palavras e entendimento
					sobre os termos: cliente e servidor.
				</p>
	
			</li>
			
			<p>
				Cliente: é o que vai executar programas que compreendem a interface como usuário. 
				É conhecido também como navegador.  E é o programa utilizados pelos usuários para visualizar
				as paginas. 
				Servidor: é o responsável por implementa camadas de processamentos e de dados. Fica responsável
				por armazenar e permitir acesso ao conteúdo da rede.

			</p>

		</ul>


	</main>

	<!-- Footer -->
	<footer>
		Desenvolvida por Jessica Yuki Watanabe. <br>
		rgm:343.5303. <br>
		Da atividade 3, exercicio 1.

	</footer>
</body>
</html>