<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aula 4 </title>
</head>

<body>
    <header>
       <h1>
        Sobre minha cidade!!!
       </h1>
    </header>

    <main>
        
        <figure>
            <img src="../imagens/itapora2.jpg" width="500" title="Entrada de itapora" >
        </figure>
        
        <figcaption>
            <h3>A entrada de itaporã</h3>
            <p>Na entrada de itaporã-MS logo de cara tem um peixe enorme, pois aqui é conhecida
               como a cidade do peixe, por possuir a maior lâmina d'água do estado em matéria de criação 
                e produção de peixes.
            </p>
        </figcaption>

        <figure>
            <img src="../imagens/praça.jpg" width="500" title="praça de itapora" >
        </figure>
        
        <figcaption>
            <h3>A praça de itaporã</h3>
            <p>Essa é a praça do centro, onde sempre tem as decoraçoes de natal, e onde acontece a feira
                 gastronomica de itaporã-MS. 
            </p>
        </figcaption>

    </main>

        <hr>

    <footer>
        Desenvolvida por Jessica Yuki Watanabe Ibata. <br>
        RGM: 343.5303. <br>
        Aula 4, exercicio 2.
    </footer>
</body>

</html>