<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>identificação</title>
</head>

<body>
    
    <!--Header-->
    <header>
        <h1>
            Sobre mim:
        </h1>
    </header>

    <!--main-->
    <main>

        <table border="1">

            <tr>
                <td> 
                    Nome completo: 
                </td>
                <td>
                    Jessica Yuki Watanabe Ibata.
                </td>
            </tr>
            
            <tr>
                <td>
                    RGM: 
                </td>
                <td>
                    343.5303
                </td>
            </tr>

            <tr>
                <td>
                    POLO:
                </td>
                <td>
                    Itapora-MS 
                </td>
            </tr>
        </table>
     

    </main>

    <hr>

    <footer>
        <b>
            aula 3, fundamentos em HTML. <br>
            Exercicio 2 
        </b>
    </footer>

</body>

</html>